* {
    box-sizing: border-box;
}

body {
    background-color: #7ed1b1;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}

.crops-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}
